@model Employee

@{
    ViewData["Title"] = "Details";
    DataContext context=new DataContext();
    
}

<h1>Student Details</h1>
<div class="card">
    <img src="https://d2td6mzj4f4e1e.cloudfront.net/wp-content/uploads/sites/7/2013/07/Wellington-College-Students-Studying-Laptops.jpg" class="card-img-top" alt="employee details">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Salary : @Model.Salary</li>
        <li class="list-group-item">Age : @Model.Age</li>
        <li class="list-group-item">Email : @Model.Email</li>
        <li class="list-group-item">Office: @(Model.office != null ? Model.office.Name : "N/A")</li>
        
        
    </ul>
    <div class="card-body">
        <a href="/employee/index" class="card-link">Back to Employees</a>
        
    </div>
</div>

